* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #f4f4f4;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
}
.Headers {
    font-size: 250%;
}

header .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #00ff90;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
a:hover {
    color: var(--primary-color);
}
header nav ul {
    display: flex;
    gap: 20px;
}

header nav a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #00ff90;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 25%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    align-items: center;
}
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
#myUL li a:hover:not(.header) {
    background-color: #eee;
}

main {
    padding: 40px 20px;
}

.kit-card:hover .kit-title {
    color: #00ff90;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

.aboutParagraph {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#laurence {
    margin-right: 70%;
}

#laurenceParagraph {
    margin-right: 25%;
}

#cleo {
    margin-left: 70%;
}

#cleoParagraph {
    margin-left: 25%;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

#footerHeaders {
    margin-bottom: 20px;
    text-align: center;
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

.Links {
    font-family: 'Roboto', sans-serif;
    width: 5%;
    margin-bottom: 3%;
    margin-left: 10%;
}

#footerLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footerLinks li {
    margin: 5px 0;
}

.footerLinks a {
    color: white;
    text-decoration: none;
}

.footerLinks a:hover {
    color: #00ff90;
}
